.btn {
    margin: 0 20px;
    padding: 15px 40px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    opacity: .8;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .35);
    transition: all .5s;
}

.btn:hover {
    color: #fff;
    opacity: 1;
}

.btn-pink {
    background-color: var(--color-pink);
}

.btn-violet {
    background-color: var(--color-violet);
}

.btn-shadow {
    box-shadow: 0 10px 0 #ff5990;
    border-radius: 10px;
    transition: all .5s;
}

.btn-shadow:hover {
    box-shadow: 0 5px 0 #ff5990;
    color: #fff;
}

.btn-shadow-violet {
    box-shadow: 0 10px 0 #a57ee9;
    border-radius: 10px;
    transition: all .5s;
}

.btn-shadow-violet:hover {
    box-shadow: 0 5px 0 #a57ee9;
    color: #fff;
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 50px;
    border-radius: 4px;
    font-size: 32px;
    height: 50px;
    width: 50px;
    color: #fff;
    z-index: 1001;
    transition: all .5s;
    background-color: #da1757;
    border: 0;
    cursor: pointer;
}

.scroll-to-top:hover {
    background-color: #fff;
    text-decoration: none;
    outline: none;
    color: #da1757;
}