.section-content {
    padding: 40px 0;
}

.section-content .card {
    transition: all .5s;
}

.section-content .card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, .75);
}

/* Pagination */
.section-content ul.page-numbers {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.section-content ul.page-numbers a.page-numbers,
.section-content ul.page-numbers span.page-numbers {
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: none;
    padding: .375rem .75rem;
    color: #da1757;
}

.section-content ul.page-numbers li:first-child * {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.section-content ul.page-numbers li:not(:first-child) * {
    margin-left: -1px;
}

.section-content ul.page-numbers li:last-child * {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.section-content ul.page-numbers li span.current {
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    border: 1px solid #dee2e6;
    transition: none;
    padding: .375rem .75rem;
    background-color: #da1757;
    border-color: #da1757;
    color: #fff;
}

/* end pagination */

/* Widget category */
.section-content .widget {
    margin-bottom: 25px;
}

.section-content .widget-title {
    color: #484848;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    position: relative;
}

.widget-categories .widget-title::after,
.widget .widget-title::after {
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    left: 0;
    top: 30px;
    background: #da1757;
}

.widget-categories .cat-item {
    width: 100%;
    color: #495057;
    text-align: inherit;
    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.cat-item + .cat-item {
    border-top-width: 0;
}

.cat-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cat-item:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.cat-item:focus, 
.cat-item:hover {
    z-index: 1;
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
}

.widget-categories .cat-item.current-cat {
    z-index: 2;
    color: #fff;
    background-color: #da1757;
    border-color: #da1757;
}

.widget-categories .cat-item.current-cat a {
    color: inherit;
}