.page-footer {
    padding-top: 100px;
    background: url('../../img/world_map.png') center no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.page-footer h5 {
    font-size: 25px;
    color: #4b2d7f;
    font-weight: 700;
}

.page-footer ul {
    list-style: none;
    padding-left: 10px;
}

.page-footer ul li a,
.page-footer ul li span {
    font-size: 15px;
    font-weight: 600;
    color: #171717;
    text-decoration: none;
}

.page-footer ul li a:hover {
    text-decoration: underline;
}

.page-footer .footer-images img {
    margin-bottom: 20px;
    border-radius: 15px;
}

.page-footer .footer-copyright {
    background-color: #f6f6f6;
    padding: 30px 0;
}

.page-footer .footer-copyright ul {
    margin-bottom: 0;
}

.page-footer .footer-copyright li::after {
    content: '\00B7';
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
}

.page-footer .footer-copyright li:last-child::after {
    content: '';
}

@media (max-width: 992px) {
    .page-footer {
        padding-top: 50px;
    }

    .page-footer .footer-copyright {
        padding: 25px 0;
    }
}