.main-header {
    background-size: cover;
    height: 100vh;
    min-height: 600px;
    position: relative;
}

.main-header .navbar-brand {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
}

.main-header .navbar-toggler {
    color: #fff;
}

.main-header .navbar .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.main-header .navbar .nav-link::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #fff;
    height: 1px;
    transform: scale(0);
    transition: all .3s;

    margin-left: 0;
    border-top: 0;
}

.main-header .navbar .nav-link:hover::after {
    transform: scale(1);
}

.main-header .main-header-text {
    position: absolute;
    top: 25%;
    left: 5%;
    max-width: 600px;
    color: #fff;
    padding: 20px;
}

.main-header .main-header-buttons {
    margin-top: 50px;
}

@media (max-width: 992px) {
    .main-header .main-header-text {
        background-color: rgba(0, 0, 0, .3);
    }

    .main-header .navbar-nav {
        background: linear-gradient(45deg, rgba(237,27,51,1) 0%, rgba(68,46,130,1) 100%);
        border-radius: 5px;
        position: relative;
        padding: 0 15px;
        z-index: 1;
    }
}

@media (max-width: 768px) {
    .main-header .main-header-text {
        text-align: center;
        left: 0;
        margin: 0 10px;
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .main-header .main-header-text {
        top: 90px;
    }

    .main-header .main-header-text .btn {
        display: block;
        width: 100%;
        margin: 0 auto 15px;
    }
}

@media (max-width: 380px) {
    .main-header .navbar-brand {
        margin-right: 0;
        font-size: 2em;
    }
}