.product figure {
    position: relative;
}

.product .desc {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .87;
    text-align: justify;
    background-color: #fff;
    padding: 7px;
    display: none;
}

.product .desc p {
    text-align: center;
    width: 100%;
    height: 100%;
}

.product .desc .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.product figure:hover .desc {
    display: block;
}

.product figure:hover .price {
    position: relative;
    display: none;
}

.product .card-title {
    text-align: center;
    padding-bottom: 6px;
    border-bottom: 1px solid #ddd;
}

.product .code {
    font-size: .8em;
}

.product .price {
    position: absolute;
    top: 30px;
    left: -10px;
    background-color: var(--color-violet);
    font-size: 12pt;
    color: #fff !important;
    font-weight: 600;
    padding: 5px 10px 5px 5px;
    /* border-bottom-right-radius: 10px;
    border-top-right-radius: 10px; */
}

.product .sale {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: var(--color-pink);
    font-size: 1.5em;
    color: #fff !important;
    font-weight: 600;
    padding: 20px;
    border-radius: 50%;
}