.section-progress {
    background-color: var(--color-violet);
    color: #fff;
    padding: 0;
}

.section-progress .progress-item {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-progress .progress-item:hover {
    background-color: #3E105C;
    transition: all .5s;
}

.section-progress .progress-item .icon {
    font-size: 70px;
}

.section-progress .progress-item .count {
    font-size: 50px;
    font-weight: 600;
    margin: 30px 0 20px;
}

.section-progress .progress-item .count::after {
    content: '+';
}

.section-progress .progress-item .title {
    font-size: 30px;
    height: 72px;
    overflow: hidden;    
}

.section-progress .progress-item .title span {
    font-weight: 700;    
}

.section-progress .progress-item .text {
    
}

@media (max-width: 768px) {
    .section-progress .progress-item {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .section-progress .progress-item:nth-child(2n) {
        background-color: #A066C7;       
    }
}