.card.categories,
.card.find-products [class='list-group']:last-of-type [class='list-group-item']:last-of-type {
    border-bottom: 0;
}

.categories .list-group-item,
.find-products .list-group-item {
    border-left: 0;
    border-right: 0;
}

@media (min-width: 576px) {
    #findProduct,
    #productCatelog {
        display: block;
    }
}