.section-tabs .nav .nav-link {
    padding: 14px 30px;
    color: #484848;
    font-size: .9em;
    font-weight: 600;
    text-transform: uppercase;
}

.section-tabs .nav .nav-link.active {
    color: #fff;
    background-color: var(--color-pink);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .35);
}

.section-tabs .tab-content .btn {
    margin: 10px 0 0;
    padding: 10px 25px;
}
