.section-watch {
    background-size: cover;
}

.section-watch h3,
.section-watch h4 {
    color: #484848;
}

@media (max-width: 480px) {
    .section-watch .nav .nav-item {
        width: 100%;
    }
    
    .section-watch .nav .nav-link {
        width: 100%;
    }

    .section-watch .tab-content .btn {
        width: 100%;
    } 
}