.section-work {
    background-color: #f1f1f1;
}

.section-work .gallary-item {
    margin-bottom: 30px;
}

.section-work .gallary a img {
    transition: all .5s;
}

.section-work a:hover img {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, .75);
}